<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/employee/update}" th:object="${employees}"
              method="POST" >
              <div class="form-group">
                <label>Id</label>
            <input type="text" class="form-control" th:field="*{eid}" readonly/>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}" />
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" th:field="*{phoneNumber}" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>
